services:
  webapp:                            
    build:
      context: .                      
      dockerfile: WebApp/Dockerfile   
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=ispp2108;User=ispp2108;Password=2108;TreatTinyAsBoolean=true;"
    ports:
      - "8080:8080"

  db:
    image: mysql:latest
    environment:
        MYSQL_ROOT_PASSWORD: 2108
        MYSQL_DATABASE: ispp2108
        MYSQL_USER: ispp2108
        MYSQL_PASSWORD: 2108

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    ports:
        - "8082:80"
    environment:
        PMA_HOST: db
        MYSQL_ROOT_PASSWORD: 2108