services:
  webapp:
    hostname: arhreestr.ru            
    image: webapp                     
    build:
      context: .                      
      dockerfile: WebApp/Dockerfile   
    environment:
      ASPNETCORE_URLS: "http://+:8080;https://+:8081"
      ConnectionStrings__DefaultConnection: "Server=db;Port=3306;Database=ispp2108;User=ispp2108;Password=2108;TreatTinyAsBoolean=true;"
    ports:
      - "8080:8080"
      - "8081:8081"
