services:
  webapp:
    hostname: arhreestr.ru
    image: ${DOCKER_REGISTRY-}webapp
    build:
      context: .
      dockerfile: WebApp/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8080;https://+:8081
      - ConnectionStrings__DefaultConnection=Server=host.docker.internal;Port=3307;Database=ispp2108;User=ispp2108;Password=2108;TreatTinyAsBoolean=true;
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8080:8080"
      - "8081:8081"

